$main-color: #f84d98;
$secondary-color: #04a681;
$link-color: #232323;
$border: 2px;

//smaller tables and smartphones
$screen-smr-min: 555px;

// small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// small tablets (portrait view)
$screen-md-min: 768px;

// tablets and small desktops
$screen-lg-min: 992px;

// large tablets and desktops
$screen-xl-min: 1200px;