border-radius()
  border-radius bord

side-size()
  width 200px
  height 180px

button()
  border-radius border-radius(n)
  border none 
  background transparent
  color white
  filter invert(100%)
  cursor pointer
  transition 100ms ease-out
  &:hover
    background main-color
img
  width 60px