@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/normalize';

body {
  font-family: 'Raleway', sans-serif;
}

header{
  width: 100%;
  display: flex;
  height: 10vh;
  font-family: 'Be Vietnam', sans-serif;

  @include sr {
    nav {
      display: none;
    }
  }
}

.aligner{
  background: #efefef;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 10px rgba(#000, 0.4);
  @include flex-between;
}

ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

li{
  height: 100%;
  margin: 10px;
  box-sizing: border-box;
  color: $link-color;
  text-transform: capitalize;
  font-size: 1.2em;
  text-decoration: none;
  @include flex-center;
  a {
    color: $link-color;
    text-transform: capitalize;
    font-size: 17px;
    text-decoration: none;
  }
}

.logo{
  color: $link-color;
  text-transform: capitalize;
  font-size: 1.2em;
  text-decoration: none;
}

.flex-container {
  @include flex-center;
  width: 100%;
  height: 90vh;
  background: #1a1a1a;
  margin: 0 auto;
  flex-direction: column;
}

.input {
  width: 80%;
  display: flex;

  input {
    font-family: 'Be Vietnam', sans-serif;
    padding: 10px 5px;
    border: none;
    box-sizing: border-box;
    width: calc(100% - 100px);
    height: 2em;
    font-size: 1.3em;
    border-top-left-radius: 3px;
  }

  button{
    width: 100px;
    border: none;
    background: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    background: $main-color;
    border-top-right-radius: $border;
    border-bottom-right-radius: $border;
  }

  img {
    
    height: 2em;
    filter: invert(100%);
  }

  @include sr{
    width: 90%;
    input {
      width: 90%;
    }
    button {
      
    }
  }

  @include sm{
    width: 80%;
    input {
      width: 90%;
    }
    button {
      
    }
  }

  @include md{
    width: 80%;
    input {
      width: 90%;
    }
  }

  @include lg{
    width: 60%;
    input {
      width: 90%;
    }
  }

  @include xl{
    width: 60%;
    input {
      width: 90%;
    }
  }
}

.insert{
  width: 55%;
  height: 40vh;
  @include flex-between;
  flex-flow: row wrap;

  @include sr {
    width: 90%;
    height: 55vh;
  }

  @include sm {
    width: 80%;
    height: 60vh;
  }

  @include md {
    width: 80%;
    height: 60vh;
  }

  @include lg {
    @include flex-between;
    flex-flow: row wrap;
    width: 60%;
    height: 60vh;
  }

  @include xl {
    @include flex-between;
    flex-flow: row wrap;
    width: 60%;
    height: 60vh;
  }
}

.side-part {
  width: 100%;
  @include flex-center;
  flex-direction: column;
}

.left-side{
  @include flex-between;
  flex-direction: column;
  margin: 10px 0;

  p {
    border-radius: $border;
    width: 7em;
    background: $secondary-color;
    padding: 15px;
    // height: 2em;
    color: #fff;
    text-transform: capitalize;
    @include flex-center;
    @include arrow-inside;
  }

  @include sr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p {
      width: 5em;
      font-size: 13px;
      padding: 10px;
      // box-sizing: border-box;

      img {
        display: none;
      }
    }
  }

  @include sm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p {
      img {
        transform: rotate(-90deg)
      }
    }
  }

  @include md {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p {
      img {
        transform: rotate(-90deg)
      }
    }
  }

  @include lg {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p {
      img {
        transform: rotate(-90deg)
      }
    }
  }

  @include xl {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p {
      img {
        transform: rotate(-90deg)
      }
    }
  }
}

.main-part {
  width: 100%;
  height: 60%;
  @include flex-between;
  flex-direction: column;
  button{
    @include button;
    padding: 10px;
    box-sizing: border-box;
  }

  div{
    border-radius: $border;
    font-family: 'Be Vietnam', sans-serif;
    color: #e3e3e3;
    text-shadow: 4px 5px 3px rgba(#000, 0.8);
    width: 100%;
    height: 100%;
    font-size: 55px;
    background: #171717;
    text-align: center;
    transition: 200ms ease-in-out;
    box-shadow: inset 0 1px 5px 2px rgba(#000, 0.3);
    @include flex-center;
  }

  @include sr {
    button {
      &:hover {
        background: transparent;
      }
      img {
      width: 30px;
    }
  }
}
}

.right-side{
  height: 100%;
  @include flex-between;
  flex-direction: column;

  button{
    border-radius: $border;
    background: $secondary-color;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
  
    @include flex-center;
    @include button;
  
    &:hover {
      background: transparent;
    }

    img {
      width: 55px;
    }
  }

  @include sr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    button {
      width: 35px;
      
      img {
        width: 35px;
      }
    }    
  }

  @include sm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  @include md {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  @include lg {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  @include xl {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.select{
  position: relative;
  display: flex;
  width: 8.5em;
  height: 2em;
  line-height: 2em;

  //arrow
  &::after {
    border-radius: $border;
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    color: white;
    background: #f84d98;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  &:hover::after{
    color: #e60266;
  }

  @include sr {
    width: 14em;
    font-size: 10px;
    height: 4em;
    line-height: 4em;
  }
}

select{
  border-radius: $border;
  font-size: 16px;
  outline: 0;
  border: 0;
  background: $main-color;
  background-image: none;
  text-transform: capitalize;
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
